doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon',type="image/png", href='/images/favicon.ico')
  body
    div(class="topArea")
      div(class="gototopArea")
        a(href="/" class="gotoTop") Easyアンケート📊
    block content
